.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #08549b;
  color: rgb(156, 41, 41);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 100px;
  width: fit-content;
  z-index: 1000;
}

.sim {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
}

.logosim {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.judulsim {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.bps {
  display: flex;
  align-items: center;
}

.textbps {
  font-size: 1rem;
  line-height: 1.2;
  margin-right: 20px;
}

.logobps {
  max-height: 5px;
}

.logoberakhlak{
  max-height: 40px;
}